@charset "UTF-8";


body{
  background:#edf0f1;
  padding:80px 0 0 0;
}
body, input, button{
  font-family: 'Roboto', sans-serif;
}

header{
  width:100%;
  height:80px;
  position:fixed;
  padding:15px;
  top:0;
  left:0;
  z-index:5;
  background:#25b99a;
  box-shadow:0px 2px 4px rgba(44,62,88,0.15);
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

header input{
  width:100%;
  height:50px;
  float:left;
  color:#fff;
  font-size:15px;
  font-weight:400;
  text-indent:18px;
  padding:0px 60px 0 0px;
  background:rgba(255,255,255,0.2);
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border:0px;
  box-shadow:none;
  outline:none;
  
  
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}
header input::-webkit-input-placeholder{
  color:rgba(255,255,255,0.75);
}

header input:-moz-input-placeholder{
  color:rgba(255,255,255,0.75);
}

header input::-moz-input-placeholder{
  color:rgba(255,255,255,0.75);
}

header input::-ms-input-placeholder{
  color:rgba(255,255,255,0.75);
}



header button{
  width:50px;
  height:50px;
  position:absolute;
  top:15px;
  right:15px;
  z-index:2;
  border-radius:25px;
  background:#fff;
  border:0px;
  box-shadow:none;
  outline:none;
  cursor:pointer;
  
   -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

#container{
  width:100%;
  float:left;
  padding:15px 50px 0 0;
}
ul.todo{
  width:100%;
  float:left;
  
  
  list-style-type:none;
}

ul.todo li{
  width:100%;
  float:lrft;
  min-height:50px;
  font-size:14px;
  font-weight:500px;
  color:#444;
  line-height:22px;
  
  background:#fff;
  border-radius:5px;
  position:relative;
  box-shadow:0px 1px 8px rgba(44,62,80,1);
  margin:0 0 10px 0;
  padding:14px 100px 14px 14px;

}

ul.todo li:last-of-type{
  margin:0;
}

ul.todo li div.buttons{
  width:150px;
  height:50px;
  position:absolute;
  top:0;
  right:0;
  
}

ul.todo li div.buttons button{
  width:50px;
  height:50px;
  float:left;
  background:none;
  position:relative;
  border:0px;
  box-shadow:none;
  outline:none;
  cursor:pointer;
  
  
  
  
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

ul.todo li div.buttons button:nth-last-of-type(2):before, ul.todo li div.buttons button:last-of-type:before{
  content:"";
  width:2px;
  height:30px;
  position:absolute;
  top:10px;
  left:0;
  background:#BBDEFB;
  
}

ul.todo li div.buttons button.complete:hover span.glyphicon-ok{
  border-radius:11px;
  border:3px solid #25b99a;
  transition:background 0.2s ease;
}


ul.todo li div.buttons button.complete span.glyphicon-ok{
  color:#25b99a;
}


ul.todo#completed li div.buttons button.complete span{
  border-radius:11px;
  border:3px solid #25b99a;
}

ul.todo#completed li div.buttons button.complete span.glyphicon-ok{
  color:#25b99a;
}

ul.todo#completed li div.buttons button.complete:hover span.glyphicon-ok{
  color:white;
}
ul.todo#completed li div.buttons button.complete:hover span{
  background:#25b99a;
  border-radius:11px;
}


/*
ul.todo:not(#completed) li div.buttons button.complete:hover span{
  background:white;
}
ul.todo:not(#completed) li div.buttons button.complete:hover span.glyphicon-ok{
  color:#25b99a;
}*/





ul.todo li div.buttons button span.glyphicon-trash{
  color:#c0cecb;
}
ul.todo li div.buttons button.remove:hover span.glyphicon-trash{
  color:red;
}


ul.todo li div.buttons button.edit:hover span.glyphicon-pencil{
  color:#F57F17;
}



ul.todo#completed{
  position:relative;
  padding:60px 0 0 36px;
}

ul.todo#completed:before{
  content:"";
  width:200px;
  height:1px;
  background:#EF5350;
  position:absolute;
  top:30px;
  left:50%;
  margin:0 0 0 -80px;
}

ul.todo#todo:empty:after{
  content:"You have nothing to-do";
  margin:15px 0 0 0;
}

ul.todo#completed:empty:after{
  content: "You have yet to complete any tasks.";
}

ul.todo#todo:empty:after, ul.todo#completed:empty:after{
  width:100%;
  display: block;
  text-align:center;
  font-size:12px;
  color:#aaa;
}